<%- include('../cabecalho.ejs') %>
    <meta http-equiv="refresh" content="0; url=/artista/lst">
    <table>
        <tr>
            <td>Perfil</td>
            <td>Arte</td>
            <td>Artista</td>
            <td>Idade</td>
            <td>Ações</td>
        </tr>
        <% if (Musicas.length===0) { %>
            <tr>
                <td colspan="5">nada foi encontrado, verifique se digitou corretamente</td>
            </tr>
            <% } else { %>
                <% for (const m of Musicas) { %>
                    <tr>
                        <td>
                            <% if (m.perfil) { %>
                                <img src="<%= m.perfil %>" alt="perfil" style="width:80px; height:auto" onerror="this.src='/img/user-placeholder.svg'">
                                <% } %>
                        </td>
                        <td>
                            <%= m.arte %>
                        </td>
                        <td>
                            <%= m.artista %>
                        </td>
                        <td>
                            <%= m.idade %>
                        </td>
                        <td>
                            <a href="/artista/edt/<%= m._id %>" class="btn edit"><i class="fa fa-pen"></i> Editar</a>
                            <a href="/artista/del/<%= m._id %>" class="btn delete"><i class="fa fa-trash"></i>
                                Excluir</a>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
    </table>
    <%- include('../rodape.ejs') %>